@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #ede9e9;
}
header{
    width: 1300px;
    margin: 0 auto;
}
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.nav-title{
    font-size: 24px;
    font-weight: 700;
}
.list-items{
    display: flex;
    justify-content: center;
}
.list-items li{
    list-style: none;
    margin-right: 30px;
    font-size: 16px;
    font-weight: 600;
}


.journey-section{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.journey-text-area{
    margin-top: 80px;
}
.journey-title{
    font-size: 52px;
    font-weight: 700;
}
.btn-journey{
    width: 170px;
    height: 44px;
    background-color: #E02C6D;
    color: #ffff;
    border-radius: 41px;
    border: none;
    margin-top: 20px;
}
.img-area{
    margin-right: 50px;
}
.img-area img{
    background-image: url("../imgs/Circle\ design.svg");
}

.logo-section{
    padding: 90px 0;
    width: 1300px;
    margin: 0 auto;
}
.logo-items{
    padding: 25px 0px;
    display: flex;
    justify-content: space-evenly;
}
hr{
    margin: 0 80px;
    border: 1px solid rgb(221, 218, 218);
}


.gallery-section{
    width: 1020px;
    margin-left: 230px;
}
.gallery-title{
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}
.gallery-items{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);
}
.single-item{
    background-color: white;
    padding: 12px;
    border-radius: 10px;
    /* padding: 10px 10px 10px 10px; */
}

.gallery-text h1{
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;
}
.gallery-text h3{
    font-size: 17px;
    font-weight: 500;
}
.filled{
    color: orange;
}
.star-items i{
    font-size: 10px;
}
.star-items span{
    font-size: 10px;
}
.gallery-text h6{
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
}

.arrow-style{
    color: #E02C6D;
    font-weight: bolder;
    margin-top: 30px;
    text-align: end;
}

.featured-section{
    display: flex;
    justify-content: space-between;
    margin: 120px 220px;
}

.text-area h1{
    font-size: 35px;
    font-weight: bolder;
}
.text-area p{
    font-weight: bolder;
    color: gray;
    margin-top: 10px;
}
.btn-site{
    width: 170px;
    height: 44px;
    background-color: #E02C6D;
    color: #ffff;
    border: none;
    margin-top: 20px;
    font-size: 15px;
}
.footer-section{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 70px 0;
}
.footer-text p{
    text-align: center;
    margin: 10px 0;
}
.footer-icon i{
    margin-right: 20px;
}